In [1]:
import pandas as pd  # 文字数を節約
%matplotlib inline 
# グラフ描画のための呪文

In [2]:
original_df = pd.read_csv("QGIS/deletedNTA.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                na_values=[0])
                # parse_dates=['Treatment_Date']) # None 

# 全部表示させる
pd.options.display.max_colwidth = None
pd.set_option('display.max_columns', None)
                
original_df.head()

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119

In [3]:
original_df.nunique(dropna=False)# これが初期の呪文としてよろしいかと

CTLabel       1451
BoroCode         5
BoroName         5
CT2020        1451
BoroCT2020    2201
CDEligibil       1
NTAName        200
NTA2020        200
CDTA2020        61
CDTANAME        61
GEOID         2201
PUMA            55
Shape_Leng    2201
Shape_Area    2201
calculated    2201
dtype: int64

In [4]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CTLabel     2201 non-null   float64
 1   BoroCode    2201 non-null   int64
 2   BoroName    2201 non-null   object
 3   CT2020      2201 non-null   int64
 4   BoroCT2020  2201 non-null   int64
 5   CDEligibil  0 non-null      float64
 6   NTAName     2201 non-null   object
 7   NTA2020     2201 non-null   object
 8   CDTA2020    2201 non-null   object
 9   CDTANAME    2201 non-null   object
 10  GEOID       2201 non-null   int64
 11  PUMA        2201 non-null   int64
 12  Shape_Leng  2201 non-null   float64
 13  Shape_Area  2201 non-null   float64
 14  calculated  2201 non-null   float64
dtypes: float64(5), int64(5), object(5)
memory usage: 258.1+ KB

In [5]:
deprived_df = pd.read_csv("QGIS/DeprivedAreawithNTA.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                na_values=[0])
                # parse_dates=['Treatment_Date']) # None 

# 全部表示させる
pd.options.display.max_colwidth = None
pd.set_option('display.max_columns', None)
                
deprived_df.head()

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,id,Station ID,area,perimeter,DepArea
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,NaN,1,1.516489e+07,14925.757219,862548.445
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,NaN,1,1.516489e+07,14925.757219,2575010.925
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,NaN,1,1.516489e+07,14925.757219,1006116.584
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,NaN,1,1.516489e+07,14925.757219,1226206.247
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,NaN,1,1.516489e+07,14925.757219,1668319.823

In [6]:
deprived_df.nunique(dropna=False)

CTLabel        959
BoroCode         5
BoroName         5
CT2020         959
BoroCT2020    1325
CDEligibil       1
NTAName        167
NTA2020        167
CDTA2020        57
CDTANAME        57
GEOID         1325
PUMA            53
Shape_Leng    1325
Shape_Area    1325
calculated    1325
id               1
Station ID       1
area             1
perimeter        1
DepArea       1325
dtype: int64

In [7]:
deprived_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325 entries, 0 to 1324
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CTLabel     1325 non-null   float64
 1   BoroCode    1325 non-null   int64
 2   BoroName    1325 non-null   object
 3   CT2020      1325 non-null   int64
 4   BoroCT2020  1325 non-null   int64
 5   CDEligibil  0 non-null      float64
 6   NTAName     1325 non-null   object
 7   NTA2020     1325 non-null   object
 8   CDTA2020    1325 non-null   object
 9   CDTANAME    1325 non-null   object
 10  GEOID       1325 non-null   int64
 11  PUMA        1325 non-null   int64
 12  Shape_Leng  1325 non-null   float64
 13  Shape_Area  1325 non-null   float64
 14  calculated  1325 non-null   float64
 15  id          0 non-null      float64
 16  Station ID  1325 non-null   int64
 17  area        1325 non-null   float64
 18  perimeter   1325 non-null   float64
 19  DepArea     1325 non-null   float64
dtypes: float64(9), int64(6), object(5)
memory usage: 207.2+ KB

In [8]:
normalwalk_df = pd.read_csv("QGIS/10minWalkwithNTA.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                na_values=[0])
                # parse_dates=['Treatment_Date']) # None 

# 全部表示させる
pd.options.display.max_colwidth = None
pd.set_option('display.max_columns', None)
                
normalwalk_df.head()

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,id,Station ID,area,perimeter,NormalArea
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,NaN,1,1.516489e+07,14925.757219,862548.445
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,NaN,1,1.516489e+07,14925.757219,2575010.925
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,NaN,1,1.516489e+07,14925.757219,1006116.584
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,NaN,1,1.516489e+07,14925.757219,1226206.247
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,NaN,1,1.516489e+07,14925.757219,2399276.864

In [9]:
deprived_df_filtered = deprived_df[['GEOID', 'DepArea']]

# GEOIDに基づいてデータフレームをマージ
merged_df = pd.merge(original_df, deprived_df_filtered, on='GEOID', how='inner')
merged_df

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,DepArea
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,862548.445
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,2575010.925
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,1006116.584
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,1226206.247
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,1668319.823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,21.00,5,Staten Island,2100,5002100,NaN,Tompkinsville-Stapleton-Clifton-Fox Hills,SI0102,SI01,SI01 North Shore (CD 1 Equivalent),36085002100,4501,20574.737256,9.292915e+06,863339.631,8119376.872
1321,215.02,2,Bronx,21502,2021502,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36005021502,4205,5951.344143,1.680527e+06,156128.284,1563825.457
1322,217.00,2,Bronx,21700,2021700,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36005021700,4205,7592.671024,1.730154e+06,160734.625,393093.653
1323,22.00,3,Brooklyn,2200,3002200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047002200,4307,10237.471533,3.648874e+06,338991.896,545075.616
1324,2.00,3,Brooklyn,200,3000200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047000200,4307,9075.285121,2.952085e+06,274258.364,2670317.251

In [10]:
normalwalk_df_filtered = normalwalk_df[['GEOID', 'NormalArea']]

# GEOIDに基づいてデータフレームをマージ
merged2_df = pd.merge(merged_df, normalwalk_df_filtered, on='GEOID', how='inner')
merged2_df

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,DepArea,NormalArea
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,862548.445,862548.445
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,2575010.925,2575010.925
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,1006116.584,1006116.584
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,1226206.247,1226206.247
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,1668319.823,2399276.864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,21.00,5,Staten Island,2100,5002100,NaN,Tompkinsville-Stapleton-Clifton-Fox Hills,SI0102,SI01,SI01 North Shore (CD 1 Equivalent),36085002100,4501,20574.737256,9.292915e+06,863339.631,8119376.872,8218621.477
1321,215.02,2,Bronx,21502,2021502,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36005021502,4205,5951.344143,1.680527e+06,156128.284,1563825.457,1680526.998
1322,217.00,2,Bronx,21700,2021700,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36005021700,4205,7592.671024,1.730154e+06,160734.625,393093.653,1730108.537
1323,22.00,3,Brooklyn,2200,3002200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047002200,4307,10237.471533,3.648874e+06,338991.896,545075.616,3464617.664
1324,2.00,3,Brooklyn,200,3000200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047000200,4307,9075.285121,2.952085e+06,274258.364,2670317.251,2670317.251

# Mergeはこれでいけてそう

In [11]:
# Povertyでtest
poverty_df = pd.read_csv("Poverty_ACSST5Y2022.S1701_2024-07-03T172917/ACSST5Y2022.S1701-Data.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                low_memory=False,
                na_values=[0])
                # parse_dates=['Treatment_Date']) # None 


poverty_df.tail()

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,S1701_C01_005E,S1701_C01_005M,S1701_C01_006E,S1701_C01_006M,S1701_C01_007E,S1701_C01_007M,S1701_C01_008E,S1701_C01_008M,S1701_C01_009E,S1701_C01_009M,S1701_C01_010E,S1701_C01_010M,S1701_C01_011E,S1701_C01_011M,S1701_C01_012E,S1701_C01_012M,S1701_C01_013E,S1701_C01_013M,S1701_C01_014E,S1701_C01_014M,S1701_C01_015E,S1701_C01_015M,S1701_C01_016E,S1701_C01_016M,S1701_C01_017E,S1701_C01_017M,S1701_C01_018E,S1701_C01_018M,S1701_C01_019E,S1701_C01_019M,S1701_C01_020E,S1701_C01_020M,S1701_C01_021E,S1701_C01_021M,S1701_C01_022E,S1701_C01_022M,S1701_C01_023E,S1701_C01_023M,S1701_C01_024E,S1701_C01_024M,S1701_C01_025E,S1701_C01_025M,S1701_C01_026E,S1701_C01_026M,S1701_C01_027E,S1701_C01_027M,S1701_C01_028E,S1701_C01_028M,S1701_C01_029E,S1701_C01_029M,S1701_C01_030E,S1701_C01_030M,S1701_C01_031E,S1701_C01_031M,S1701_C01_032E,S1701_C01_032M,S1701_C01_033E,S1701_C01_033M,S1701_C01_034E,S1701_C01_034M,S1701_C01_035E,S1701_C01_035M,S1701_C01_036E,S1701_C01_036M,S1701_C01_037E,S1701_C01_037M,S1701_C01_038E,S1701_C01_038M,S1701_C01_039E,S1701_C01_039M,S1701_C01_040E,S1701_C01_040M,S1701_C01_041E,S1701_C01_041M,S1701_C01_042E,S1701_C01_042M,S1701_C01_043E,S1701_C01_043M,S1701_C01_044E,S1701_C01_044M,S1701_C01_045E,S1701_C01_045M,S1701_C01_046E,S1701_C01_046M,S1701_C01_047E,S1701_C01_047M,S1701_C01_048E,S1701_C01_048M,S1701_C01_049E,S1701_C01_049M,S1701_C01_050E,S1701_C01_050M,S1701_C01_051E,S1701_C01_051M,S1701_C01_052E,S1701_C01_052M,S1701_C01_053E,S1701_C01_053M,S1701_C01_054E,S1701_C01_054M,S1701_C01_055E,S1701_C01_055M,S1701_C01_056E,S1701_C01_056M,S1701_C01_057E,S1701_C01_057M,S1701_C01_058E,S1701_C01_058M,S1701_C01_059E,S1701_C01_059M,S1701_C01_060E,S1701_C01_060M,S1701_C01_061E,S1701_C01_061M,S1701_C01_062E,S1701_C01_062M,S1701_C02_001E,S1701_C02_001M,S1701_C02_002E,S1701_C02_002M,S1701_C02_003E,S1701_C02_003M,S1701_C02_004E,S1701_C02_004M,S1701_C02_005E,S1701_C02_005M,S1701_C02_006E,S1701_C02_006M,S1701_C02_007E,S1701_C02_007M,S1701_C02_008E,S1701_C02_008M,S1701_C02_009E,S1701_C02_009M,S1701_C02_010E,S1701_C02_010M,S1701_C02_011E,S1701_C02_011M,S1701_C02_012E,S1701_C02_012M,S1701_C02_013E,S1701_C02_013M,S1701_C02_014E,S1701_C02_014M,S1701_C02_015E,S1701_C02_015M,S1701_C02_016E,S1701_C02_016M,S1701_C02_017E,S1701_C02_017M,S1701_C02_018E,S1701_C02_018M,S1701_C02_019E,S1701_C02_019M,S1701_C02_020E,S1701_C02_020M,S1701_C02_021E,S1701_C02_021M,S1701_C02_022E,S1701_C02_022M,S1701_C02_023E,S1701_C02_023M,S1701_C02_024E,S1701_C02_024M,S1701_C02_025E,S1701_C02_025M,S1701_C02_026E,S1701_C02_026M,S1701_C02_027E,S1701_C02_027M,S1701_C02_028E,S1701_C02_028M,S1701_C02_029E,S1701_C02_029M,S1701_C02_030E,S1701_C02_030M,S1701_C02_031E,S1701_C02_031M,S1701_C02_032E,S1701_C02_032M,S1701_C02_033E,S1701_C02_033M,S1701_C02_034E,S1701_C02_034M,S1701_C02_035E,S1701_C02_035M,S1701_C02_036E,S1701_C02_036M,S1701_C02_037E,S1701_C02_037M,S1701_C02_038E,S1701_C02_038M,S1701_C02_039E,S1701_C02_039M,S1701_C02_040E,S1701_C02_040M,S1701_C02_041E,S1701_C02_041M,S1701_C02_042E,S1701_C02_042M,S1701_C02_043E,S1701_C02_043M,S1701_C02_044E,S1701_C02_044M,S1701_C02_045E,S1701_C02_045M,S1701_C02_046E,S1701_C02_046M,S1701_C02_047E,S1701_C02_047M,S1701_C02_048E,S1701_C02_048M,S1701_C02_049E,S1701_C02_049M,S1701_C02_050E,S1701_C02_050M,S1701_C02_051E,S1701_C02_051M,S1701_C02_052E,S1701_C02_052M,S1701_C02_053E,S1701_C02_053M,S1701_C02_054E,S1701_C02_054M,S1701_C02_055E,S1701_C02_055M,S1701_C02_056E,S1701_C02_056M,S1701_C02_057E,S1701_C02_057M,S1701_C02_058E,S1701_C02_058M,S1701_C02_059E,S1701_C02_059M,S1701_C02_060E,S1701_C02_060M,S1701_C02_061E,S1701_C02_061M,S1701_C02_062E,S1701_C02_062M,S1701_C03_001E,S1701_C03_001M,S1701_C03_002E,S1701_C03_002M,S1701_C03_003E,S1701_C03_003M,S1701_C03_004E,S1701_C03_004M,S1701_C03_005E,S1701_C03_005M,S1701_C03_006E,S1701_C03_006M,S1701_C03_007E,S1701_C03_007M,S1701_C03_008E,S1701_C03_008M,S1701_C03_009E,S1701_C03_009M,S1701_C03_010E,S1701_C03_010M,S1701_C03_011E,S1701_C03_011M,S1701_C03_012E,S1701_C03_012M,S1701_C03_013E,S1701_C03_013M,S1701_C03_014E,S1701_C03_014M,S1701_C03_015E,S1701_C03_015M,S1701_C03_016E,S1701_C03_016M,S1701_C03_017E,S1701_C03_017M,S1701_C03_018E,S1701_C03_018M,S1701_C03_019E,S1701_C03_019M,S1701_C03_020E,S1701_C03_020M,S1701_C03_021E,S1701_C03_021M,S1701_C03_022E,S1701_C03_022M,S1701_C03_023E,S1701_C03_023M,S1701_C03_024E,S1701_C03_024M,S1701_C03_025E,S1701_C03_025M,S1701_C03_026E,S1701_C03_026M,S1701_C03_027E,S1701_C03_027M,S1701_C03_028E,S1701_C03_028M,S1701_C03_029E,S1701_C03_029M,S1701_C03_030E,S1701_C03_030M,S1701_C03_031E,S1701_C03_031M,S1701_C03_032E,S1701_C03_032M,S1701_C03_033E,S1701_C03_033M,S1701_C03_034E,S1701_C03_034M,S1701_C03_035E,S1701_C03_035M,S1701_C03_036E,S1701_C03_036M,S1701_C03_037E,S1701_C03_037M,S1701_C03_038E,S1701_C03_038M,S1701_C03_039E,S1701_C03_039M,S1701_C03_040E,S1701_C03_040M,S1701_C03_041E,S1701_C03_041M,S1701_C03_042E,S1701_C03_042M,S1701_C03_043E,S1701_C03_043M,S1701_C03_044E,S1701_C03_044M,S1701_C03_045E,S1701_C03_045M,S1701_C03_046E,S1701_C03_046M,S1701_C03_047E,S1701_C03_047M,S1701_C03_048E,S1701_C03_048M,S1701_C03_049E,S1701_C03_049M,S1701_C03_050E,S1701_C03_050M,S1701_C03_051E,S1701_C03_051M,S1701_C03_052E,S1701_C03_052M,S1701_C03_053E,S1701_C03_053M,S1701_C03_054E,S1701_C03_054M,S1701_C03_055E,S1701_C03_055M,S1701_C03_056E,S1701_C03_056M,S1701_C03_057E,S1701_C03_057M,S1701_C03_058E,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
2323,1400000US36085030302,Census Tract 303.02; Richmond County; New York,6351,644,1097,266,139,105,958,243,1097,266,4361,519,1797,272,2564,370,1486,318,893,251,2803,388,3548,402,2795,531,1619,552,NaN,19,918,351,NaN,19,663,432,356,237,1602,490,2209,542,4504,501,372,117,1357,269,1276,295,1499,336,3198,384,2984,372,1441,256,1543,299,214,137,77,58,137,101,5375,535,2080,321,1148,254,2147,368,646,429,993,511,993,511,1056,516,1334,547,2368,666,3088,605,3806,635,766,246,408,202,358,126,NaN,19,NaN,19,NaN,19,191,113,92,77,60,60,131,98,138,90,154,168,10257,2159,331,131,62,39,373,217,6351,644,893,492,222,195,52,59,170,175,222,195,570,325,226,178,344,191,171,107,101,74,415,250,478,302,352,332,195,292,NaN,19,195,179,NaN,19,112,91,39,45,140,87,352,332,527,220,134,83,171,129,65,55,157,121,177,157,140,140,66,67,74,74,37,47,37,47,NaN,19,729,369,29,44,145,147,555,291,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),202,105,81,66,121,84,NaN,19,NaN,19,NaN,19,NaN,19,47,53,46,55,55,69,54,55,NaN,19,(X),(X),NaN,19,NaN,19,202,105,893,492,14.1,7.7,20.2,15.5,37.4,36.1,17.7,16.0,20.2,15.5,13.1,7.5,12.6,10.1,13.4,7.5,11.5,6.5,11.3,7.1,14.8,8.8,13.5,8.3,12.6,11.3,12.0,17.2,-,**,21.2,18.6,-,**,16.9,13.8,11.0,10.1,8.7,5.3,15.9,14.2,11.7,5.2,36.0,17.9,12.6,9.0,5.1,4.6,10.5,8.0,5.5,5.0,4.7,4.8,4.6,4.8,4.8,4.9,17.3,23.7,48.1,45.5,NaN,24.9,13.6,6.9,1.4,2.1,12.6,13.2,25.9,11.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),26.4,13.2,19.9,17.6,33.8,18.3,-,**,-,**,-,**,NaN,18.8,51.1,41.0,76.7,41.2,42.0,35.0,39.1,23.0,NaN,22.6,(X),(X),NaN,11.4,NaN,41.8,54.2,29.5,14.1,7.7,NaN
2324,1400000US36085031901,Census Tract 319.01; Richmond County; New York,3658,681,844,305,155,131,689,233,821,304,2464,571,995,336,1469,343,492,210,350,177,1692,460,1966,384,858,346,1691,471,NaN,13,208,170,NaN,13,155,106,746,509,1469,483,289,191,2250,519,1038,378,549,234,303,137,360,174,1493,488,1286,351,747,224,539,241,207,228,194,228,13,20,2964,556,912,247,467,243,1585,354,637,378,1468,520,1646,523,1669,520,1669,520,2685,750,3023,738,3400,678,574,384,362,369,212,86,NaN,13,23,31,21,28,175,241,23,31,90,77,138,136,67,62,37,48,9689,3753,93,123,141,155,340,237,3656,681,1055,416,185,143,NaN,13,185,143,162,134,740,337,399,246,341,164,130,97,130,97,442,260,613,258,270,226,429,280,NaN,13,44,59,NaN,13,29,46,283,272,475,296,147,170,663,297,405,239,197,120,50,51,11,17,203,208,42,45,25,39,17,24,161,199,161,199,NaN,13,906,361,28,29,23,39,855,355,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),317,236,199,223,118,70,NaN,13,23,31,21,28,155,212,NaN,13,44,42,NaN,13,45,54,29,44,(X),(X),17,24,NaN,13,300,234,1055,416,28.8,10.3,21.9,17.9,NaN,22.5,26.9,19.9,19.7,17.5,30.0,10.3,40.1,17.1,23.2,10.8,26.4,16.6,37.1,20.9,26.1,12.2,31.2,12.8,31.5,21.7,25.4,15.9,-,**,21.2,27.3,-,**,18.7,31.1,37.9,29.2,32.3,17.0,50.9,38.3,29.5,9.8,39.0,15.7,35.9,19.9,16.5,16.5,3.1,5.6,13.6,11.4,3.3,3.1,3.3,5.1,3.2,5.1,77.8,22.8,83.0,17.1,NaN,91.2,30.6,9.7,3.1,3.2,4.9,6.6,53.9,14.7,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),55.2,17.3,55.0,19.6,55.7,26.3,-,**,100.0,68.6,100.0,71.8,88.6,8.0,NaN,68.6,48.9,46.4,NaN,24.8,67.2,47.9,78.4,51.6,(X),(X),18.3,43.5,NaN,24.3,88.2,15.9,28.9,10.3,NaN
2325,1400000US36085031902,Census Tract 319.02; Richmond County; New York,5031,638,1624,397,175,89,1449,416,1624,397,2981,469,873,288,2108,327,838,280,426,118,2433,501,2598,591,930,385,2592,725,43,50,217,202,NaN,19,782,393,467,296,1913,369,451,193,3151,445,643,225,1020,235,570,205,918,325,2307,492,2252,499,976,305,1276,389,55,43,15,19,40,37,3671,482,1793,396,556,231,1322,197,698,351,1445,474,1541,476,1662,541,1738,553,2503,515,2702,543,3216,497,696,239,312,151,384,147,NaN,19,NaN,19,25,37,139,103,49,47,109,79,289,163,45,40,40,42,9227,2301,379,184,60,54,257,111,5000,638,1146,424,527,273,NaN,19,527,273,527,273,458,155,156,109,302,155,250,136,161,101,473,209,673,248,338,261,586,309,NaN,19,72,76,NaN,19,53,70,97,170,355,312,133,95,606,199,311,148,226,138,42,42,27,43,62,55,50,55,NaN,19,50,55,12,20,NaN,19,12,20,714,239,NaN,19,50,55,664,242,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),192,106,119,89,73,58,NaN,19,NaN,19,13,27,36,38,9,15,8,18,98,86,28,33,NaN,19,(X),(X),NaN,19,NaN,19,192,106,1126,423,22.8,8.7,32.5,14.3,NaN,20.3,36.4,15.9,32.5,14.3,15.4,6.2,17.9,11.0,14.3,7.6,29.8,18.1,37.8,21.7,19.4,9.0,25.9,11.3,36.3,19.2,22.6,13.1,NaN,50.2,33.2,48.5,-,**,6.8,10.0,20.8,29.8,18.6,15.6,29.5,15.3,19.2,7.0,48.4,19.7,22.2,12.4,7.4,7.0,2.9,4.7,2.7,2.4,2.2,2.4,NaN,4.0,3.9,4.4,21.8,36.7,NaN,84.9,30.0,48.7,19.4,7.5,NaN,2.2,9.0,9.0,50.2,14.2,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),27.6,13.0,38.1,26.0,19.0,15.0,-,**,-,**,52.0,52.0,25.9,18.6,18.4,35.1,7.3,17.3,33.9,28.3,62.2,46.7,NaN,52.0,(X),(X),NaN,10.0,NaN,42.5,74.7,20.9,22.5,8.8,NaN
2326,1400000US36085032300,Census Tract 323; Richmond County; New York,1133,304,325,130,120,125,205,83,325,130,656,187,99,49,557,187,223,70,152,46,567,176,566,149,261,93,430,177,NaN,13,21,21,NaN,13,119,85,302,289,394,134,109,45,753,192,66,41,287,77,141,56,259,179,556,187,546,187,222,109,324,95,10,14,10,14,NaN,13,868,228,391,107,164,97,313,89,20,26,75,43,79,45,150,76,159,73,284,102,485,200,583,196,172,60,98,45,74,41,NaN,13,NaN,13,NaN,13,NaN,13,12,18,44,35,56,35,27,24,33,27,N,N,67,37,8,10,97,47,1133,304,56,40,NaN,13,NaN,13,NaN,13,NaN,13,41,38,NaN,13,41,38,15,14,15,14,19,27,37,30,37,30,15,26,NaN,13,4,6,NaN,13,NaN,13,NaN,13,NaN,13,37,30,56,40,4,6,52,39,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,56,40,NaN,13,NaN,13,56,40,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),56,40,19,27,37,30,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,15,26,26,28,9,10,6,10,(X),(X),NaN,13,NaN,13,56,40,56,40,4.9,3.7,NaN,11.6,NaN,27.7,NaN,17.6,NaN,11.6,6.3,5.9,NaN,32.0,7.4,6.9,6.7,6.2,9.9,9.2,3.4,4.6,6.5,5.5,14.2,12.1,3.5,6.2,-,**,19.0,25.5,-,**,NaN,27.9,NaN,12.4,NaN,9.6,33.9,24.1,7.4,5.6,6.1,9.5,18.1,12.9,NaN,24.3,NaN,14.3,NaN,6.9,NaN,7.1,NaN,16.4,NaN,11.6,NaN,100.0,NaN,100.0,-,**,6.5,4.9,NaN,9.7,NaN,21.4,17.9,12.5,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),32.6,19.6,19.4,24.0,50.0,28.8,-,**,-,**,-,**,-,**,NaN,95.0,34.1,40.7,46.4,36.4,33.3,42.6,18.2,28.2,(X),(X),NaN,40.2,NaN,100.0,57.7,26.8,4.9,3.7,NaN
2327,1400000US36085990100,Census Tract 9901; Richmond County; New York,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,-,**,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,NaN,13,(X),(X),NaN,13,NaN,13,NaN,13,NaN,13,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,-,**,(X),(X),-,**,-,**,-,**,-,**,NaN

In [12]:
#S1701_C01_001E

# poverty_df.rename(columns={'GEO_ID': 'GEOID'}, inplace=True)

In [13]:
# Ensure GEO_ID is a string, then extract the relevant portion
poverty_df['GEOID'] = poverty_df['GEO_ID'].astype(str).str.extract(r'1400000US(\d+)')

merged2_df['GEOID'] = original_df['GEOID'].astype(str)

In [14]:
poverty_df_filtered = poverty_df[['GEOID', 'S1701_C01_001E']]

# GEOIDに基づいてデータフレームをマージ
merged_df = pd.merge(merged2_df, poverty_df_filtered, on='GEOID', how='inner')
merged_df

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,DepArea,NormalArea,S1701_C01_001E
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,862548.445,862548.445,2621
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,2575010.925,2575010.925,10575
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,1006116.584,1006116.584,3118
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,1226206.247,1226206.247,3285
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,1668319.823,2399276.864,6593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320,21.00,5,Staten Island,2100,5002100,NaN,Tompkinsville-Stapleton-Clifton-Fox Hills,SI0102,SI01,SI01 North Shore (CD 1 Equivalent),36047025500,4501,20574.737256,9.292915e+06,863339.631,8119376.872,8218621.477,5446
1321,215.02,2,Bronx,21502,2021502,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36047025600,4205,5951.344143,1.680527e+06,156128.284,1563825.457,1680526.998,3005
1322,217.00,2,Bronx,21700,2021700,NaN,University Heights (South)-Morris Heights,BX0501,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approximation),36047025700,4205,7592.671024,1.730154e+06,160734.625,393093.653,1730108.537,2892
1323,22.00,3,Brooklyn,2200,3002200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047025800,4307,10237.471533,3.648874e+06,338991.896,545075.616,3464617.664,4119
1324,2.00,3,Brooklyn,200,3000200,NaN,Sunset Park (West),BK0702,BK07,BK07 Sunset Park-Windsor Terrace (CD 7 Approximation),36047025901,4307,9075.285121,2.952085e+06,274258.364,2670317.251,2670317.251,2144

In [15]:
merged_df['DepPortion'] = merged_df['DepArea'] /merged_df['Shape_Area']
merged_df['NormalPortion'] = merged_df['NormalArea'] /merged_df['Shape_Area']
merged_df['DepPoverty'] = merged_df['DepPortion'] * merged_df['S1701_C01_001E'].astype(int)
merged_df['NormalPoverty'] = merged_df['NormalPortion'] * merged_df['S1701_C01_001E'].astype(int)

In [16]:
merged_df['DepPoverty'].sum() # Deprivedされた人々の人口 26万人

2636940.5066884235

In [17]:
merged_df['NormalPoverty'].sum() # NormalSubwayに住む人々の人口 41万人

4121961.8495735093

In [18]:
merged_df['DepPoverty'].sum() / merged_df['NormalPoverty'].sum()

0.6397294790492207

In [19]:
merged_df['DepArea'].sum() / merged_df['NormalArea'].sum()

0.6382090034238787

# あれ、ほぼ面積比と変わらない...?まあそりゃそうか。ただDeprived Areaが6割、さらにDeprived Peopleの6割が貧困というのは、むちゃくちゃ高い数字ではないか？

# 以下ではヒストグラムの作成を試みてみようか(無謀)

In [20]:

# 収入列を抜き出し
columns_to_read = ['GEO_ID',
    "S1901_C01_001E", "S1901_C01_002E", "S1901_C01_003E", "S1901_C01_004E", "S1901_C01_005E", "S1901_C01_006E", "S1901_C01_007E", "S1901_C01_008E", "S1901_C01_009E", "S1901_C01_010E", "S1901_C01_011E"
]


income_df = pd.read_csv("Income5YACSST5Y2022.S1901_2024-07-03T182117/ACSST5Y2022.S1901-Data.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                usecols=columns_to_read,
                # low_memory=False,
                na_values=['-'])
                # parse_dates=['Treatment_Date']) # None 


income_df.head()

,GEO_ID,S1901_C01_001E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,S1901_C01_009E,S1901_C01_010E,S1901_C01_011E
0,Geography,Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Households!!Total!!$200,000 or more"
1,1400000US36005000100,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US36005000200,1425,2.5,0.0,6.0,11.7,5.0,9.1,15.4,27.9,8.4,14.0
3,1400000US36005000400,2309,2.7,4.9,4.5,0.4,10.9,18.3,7.9,17.9,20.9,11.7
4,1400000US36005001600,2205,7.4,7.5,15.4,10.2,14.6,23.0,2.6,11.7,2.6,4.9

In [21]:
# 関数化

def to_merged_df(df):
    global merged_df
    df['GEOID'] = df['GEO_ID'].astype(str).str.extract(r'1400000US(\d+)')
    merged_df = pd.merge(merged_df, df, on='GEOID', how='inner')
    return df

to_merged_df(income_df)
merged_df.head()

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,DepArea,NormalArea,S1701_C01_001E,DepPortion,NormalPortion,DepPoverty,NormalPoverty,GEO_ID,S1901_C01_001E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,S1901_C01_009E,S1901_C01_010E,S1901_C01_011E
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,862548.445,862548.445,2621,0.887111,0.887111,2325.116987,2325.116987,1400000US36061000201,878,9.7,17.5,11.0,5.2,14.1,16.2,8.5,10.0,2.1,5.6
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,2575010.925,2575010.925,10575,0.997021,0.997021,10543.495626,10543.495626,1400000US36061000600,5191,15.3,17.3,16.5,8.0,14.1,12.1,6.0,6.6,2.5,1.5
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,1006116.584,1006116.584,3118,1.000000,1.000000,3117.999999,3117.999999,1400000US36061001401,1648,5.8,0.7,7.0,6.0,12.9,11.9,8.1,14.4,6.7,26.5
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,1226206.247,1226206.247,3285,1.000000,1.000000,3284.999999,3284.999999,1400000US36061001402,1733,8.8,16.5,13.8,6.4,6.2,3.0,8.4,11.9,3.8,21.2
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,1668319.823,2399276.864,6593,0.695343,1.000000,4584.394889,6592.999999,1400000US36061001800,3075,9.2,7.8,6.0,5.5,12.7,9.0,11.6,19.8,11.8,6.6

In [22]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325 entries, 0 to 1324
Data columns (total 34 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CTLabel         1325 non-null   float64
 1   BoroCode        1325 non-null   int64
 2   BoroName        1325 non-null   object
 3   CT2020          1325 non-null   int64
 4   BoroCT2020      1325 non-null   int64
 5   CDEligibil      0 non-null      float64
 6   NTAName         1325 non-null   object
 7   NTA2020         1325 non-null   object
 8   CDTA2020        1325 non-null   object
 9   CDTANAME        1325 non-null   object
 10  GEOID           1325 non-null   object
 11  PUMA            1325 non-null   int64
 12  Shape_Leng      1325 non-null   float64
 13  Shape_Area      1325 non-null   float64
 14  calculated      1325 non-null   float64
 15  DepArea         1325 non-null   float64
 16  NormalArea      1325 non-null   float64
 17  S1701_C01_001E  1325 non-null   object
 18  DepPortion      1325 non-null   float64
 19  NormalPortion   1325 non-null   float64
 20  DepPoverty      1325 non-null   float64
 21  NormalPoverty   1325 non-null   float64
 22  GEO_ID          1325 non-null   object
 23  S1901_C01_001E  1325 non-null   object
 24  S1901_C01_002E  1325 non-null   object
 25  S1901_C01_003E  1325 non-null   object
 26  S1901_C01_004E  1325 non-null   object
 27  S1901_C01_005E  1325 non-null   object
 28  S1901_C01_006E  1325 non-null   object
 29  S1901_C01_007E  1325 non-null   object
 30  S1901_C01_008E  1325 non-null   object
 31  S1901_C01_009E  1325 non-null   object
 32  S1901_C01_010E  1325 non-null   object
 33  S1901_C01_011E  1325 non-null   object
dtypes: float64(11), int64(4), object(19)
memory usage: 352.1+ KB

# さらに障害者のcolumnも追加

In [23]:

# 必要列を抜き出し
copied_from_excel = '''
GEO_ID
NAME
S1810_C01_001E
S1810_C01_004E
S1810_C01_005E
S1810_C01_006E
S1810_C01_007E
S1810_C01_008E
S1810_C01_009E
S1810_C01_010E
S1810_C01_011E
S1810_C01_012E
S1810_C02_001E
S1810_C02_002E
S1810_C02_003E
S1810_C02_004E
S1810_C02_005E
S1810_C02_006E
S1810_C02_007E
S1810_C02_008E
S1810_C02_009E
S1810_C02_010E
S1810_C02_011E
S1810_C02_012E
S1810_C02_013E
S1810_C02_014E
S1810_C02_015E
S1810_C02_016E
S1810_C02_017E
S1810_C02_018E
S1810_C02_019E
S1810_C02_029E
S1810_C02_039E
S1810_C02_047E
S1810_C02_048E
S1810_C02_049E
S1810_C02_050E
S1810_C02_051E
S1810_C02_052E
S1810_C02_053E
S1810_C02_054E
S1810_C02_055E
S1810_C02_063E
'''

columns_to_read = copied_from_excel.strip().split('\n')



disablity_df = pd.read_csv("DisabilityACSST5Y2022.S1810_2024-07-03T142259/ACSST5Y2022.S1810-Data.csv", # csvファイルのパス
                 # sep="\t", # tabをseparator
                 # encoding="iso8859-1", # encode
                usecols=columns_to_read,
                low_memory=False,
                na_values=['-'])
                # parse_dates=['Treatment_Date']) # None 


disablity_df.head()

,GEO_ID,NAME,S1810_C01_001E,S1810_C01_004E,S1810_C01_005E,S1810_C01_006E,S1810_C01_007E,S1810_C01_008E,S1810_C01_009E,S1810_C01_010E,S1810_C01_011E,S1810_C01_012E,S1810_C02_001E,S1810_C02_002E,S1810_C02_003E,S1810_C02_004E,S1810_C02_005E,S1810_C02_006E,S1810_C02_007E,S1810_C02_008E,S1810_C02_009E,S1810_C02_010E,S1810_C02_011E,S1810_C02_012E,S1810_C02_013E,S1810_C02_014E,S1810_C02_015E,S1810_C02_016E,S1810_C02_017E,S1810_C02_018E,S1810_C02_019E,S1810_C02_029E,S1810_C02_039E,S1810_C02_047E,S1810_C02_048E,S1810_C02_049E,S1810_C02_050E,S1810_C02_051E,S1810_C02_052E,S1810_C02_053E,S1810_C02_054E,S1810_C02_055E,S1810_C02_063E
0,Geography,Geographic Area Name,Estimate!!Total!!Total civilian noninstitutionalized population,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,"Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino",Estimate!!Total!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino (of any race),Estimate!!With a disability!!Total civilian noninstitutionalized population,Estimate!!With a disability!!Total civilian noninstitutionalized population!!SEX!!Male,Estimate!!With a disability!!Total civilian noninstitutionalized population!!SEX!!Female,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,"Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino",Estimate!!With a disability!!Total civilian noninstitutionalized population!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino (of any race),Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!Under 5 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!5 to 17 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!18 to 34 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!35 to 64 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!65 to 74 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!AGE!!75 years and over,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With a hearing difficulty,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With a vision difficulty,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With a cognitive difficulty,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population under 18 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 18 to 64 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 18 to 64 years!!Population 18 to 34 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 18 to 64 years!!Population 35 to 64 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 65 years and over,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 65 years and over!!Population 65 to 74 years,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 65 years and over!!Population 75 years and over,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With a self-care difficulty,Estimate!!With a disability!!Total civilian noninstitutionalized population!!DISABILITY TYPE BY DETAILED AGE!!With an independent living difficulty
1,1400000US36005000100,Census Tract 1; Bronx County; New York,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1400000US36005000200,Census Tract 2; Bronx County; New York,4870,750,1473,0,299,0,1857,491,83,3109,790,438,352,111,346,0,19,0,268,46,14,339,0,25,104,382,87,192,208,149,294,298,14,174,20,154,110,36,74,187,321
3,1400000US36005000400,Census Tract 4; Bronx County; New York,6257,790,1897,0,192,0,2445,933,283,4212,883,465,418,64,220,0,0,0,534,65,38,703,0,73,102,492,69,147,89,280,407,344,0,212,0,212,132,19,113,201,372
4,1400000US36005001600,Census Tract 16; Bronx County; New York,5985,485,2190,213,142,0,2370,585,40,3469,1268,554,714,77,419,196,28,0,470,78,9,631,0,111,162,408,351,236,135,361,400,643,0,239,0,239,404,327,77,158,385

In [24]:
to_merged_df(disablity_df)
merged_df.head()

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,GEOID,PUMA,Shape_Leng,Shape_Area,calculated,DepArea,NormalArea,S1701_C01_001E,DepPortion,NormalPortion,DepPoverty,NormalPoverty,GEO_ID_x,S1901_C01_001E,S1901_C01_002E,S1901_C01_003E,S1901_C01_004E,S1901_C01_005E,S1901_C01_006E,S1901_C01_007E,S1901_C01_008E,S1901_C01_009E,S1901_C01_010E,S1901_C01_011E,GEO_ID_y,NAME,S1810_C01_001E,S1810_C01_004E,S1810_C01_005E,S1810_C01_006E,S1810_C01_007E,S1810_C01_008E,S1810_C01_009E,S1810_C01_010E,S1810_C01_011E,S1810_C01_012E,S1810_C02_001E,S1810_C02_002E,S1810_C02_003E,S1810_C02_004E,S1810_C02_005E,S1810_C02_006E,S1810_C02_007E,S1810_C02_008E,S1810_C02_009E,S1810_C02_010E,S1810_C02_011E,S1810_C02_012E,S1810_C02_013E,S1810_C02_014E,S1810_C02_015E,S1810_C02_016E,S1810_C02_017E,S1810_C02_018E,S1810_C02_019E,S1810_C02_029E,S1810_C02_039E,S1810_C02_047E,S1810_C02_048E,S1810_C02_049E,S1810_C02_050E,S1810_C02_051E,S1810_C02_052E,S1810_C02_053E,S1810_C02_054E,S1810_C02_055E,S1810_C02_063E
0,2.01,1,Manhattan,201,1000201,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4103,4754.495247,9.723121e+05,90331.513,862548.445,862548.445,2621,0.887111,0.887111,2325.116987,2325.116987,1400000US36061000201,878,9.7,17.5,11.0,5.2,14.1,16.2,8.5,10.0,2.1,5.6,1400000US36061000201,Census Tract 2.01; New York County; New York,2621,411,241,0,413,0,255,1301,230,1726,248,134,114,45,38,0,48,0,58,59,5,189,0,22,2,70,64,90,96,28,80,163,0,41,0,41,122,63,59,101,149
1,6.00,1,Manhattan,600,1000600,NaN,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,4103,6976.286215,2.582705e+06,239943.179,2575010.925,2575010.925,10575,0.997021,0.997021,10543.495626,10543.495626,1400000US36061000600,5191,15.3,17.3,16.5,8.0,14.1,12.1,6.0,6.6,2.5,1.5,1400000US36061000600,Census Tract 6; New York County; New York,10575,1195,727,56,5531,0,2034,1032,829,3237,1516,650,866,133,31,25,745,0,354,228,35,734,0,0,112,283,103,1018,281,143,493,1179,0,223,83,140,956,79,877,390,812
2,14.01,1,Manhattan,1401,1001401,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,4103,5075.332000,1.006117e+06,93472.101,1006116.584,1006116.584,3118,1.000000,1.000000,3117.999999,3117.999999,1400000US36061001401,1648,5.8,0.7,7.0,6.0,12.9,11.9,8.1,14.4,6.7,26.5,1400000US36061001401,Census Tract 14.01; New York County; New York,3118,2237,80,0,243,24,195,339,2201,314,543,369,174,445,11,0,41,0,0,46,445,46,0,0,60,34,71,378,164,32,159,349,0,8,0,8,341,37,304,118,307
3,14.02,1,Manhattan,1402,1001402,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4103,4459.156019,1.226206e+06,113919.298,1226206.247,1226206.247,3285,1.000000,1.000000,3284.999999,3284.999999,1400000US36061001402,1733,8.8,16.5,13.8,6.4,6.2,3.0,8.4,11.9,3.8,21.2,1400000US36061001402,Census Tract 14.02; New York County; New York,3286,1150,250,10,1099,0,514,263,881,860,675,235,440,63,12,0,453,0,95,52,28,148,0,0,44,122,340,169,273,234,169,406,0,55,0,55,351,188,163,138,392
4,18.00,1,Manhattan,1800,1001800,NaN,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001800,4103,6391.921174,2.399277e+06,222902.119,1668319.823,2399276.864,6593,0.695343,1.000000,4584.394889,6592.999999,1400000US36061001800,3075,9.2,7.8,6.0,5.5,12.7,9.0,11.6,19.8,11.8,6.6,1400000US36061001800,Census Tract 18; New York County; New York,6860,2589,398,42,3163,0,244,424,2107,1014,719,423,296,205,63,29,366,0,16,40,171,119,0,29,33,214,156,287,220,109,349,462,29,94,0,94,339,122,217,203,330

In [25]:
merged_df.to_csv('census.csv', index=False) # indexを保存しないためにこれが必要！